/* Stylesheet for the G2G Landing Pages */

/* colourscheme */
:root {
  /* text in sidebar */
  --textbar: #768080;
  /* accent background colour */
  --accentbar: #8f9c9c;
  /* sidebar bg colour */
  --bgbar: #cddcdf;
  

  --border: #679494;
  
  --txttab: rgb(42, 47, 51);

  /* text colour */
  --text: black; 
  /* bg colour */
  --bg: white;

  /* accent colour */
  --accent: #2bacff;
  /* alternative highlight colour */
  --accentalt: white;

  --forminput: #e0dcdc; /*to be changed*/
}

/* handles left sticky navbar in the landing page */
body {
    display: flex;
    font-family: sans-serif;
    scrollbar-color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#main {
  display:block;
  height: 100vh;
  width: 100%; /* this somehow makes it so that the div stays the same shape, even if you close sidebar*/
  /* border-top: 1px solid black; */
  margin-left: 15vw;
  overflow-x: hidden;
  word-wrap: break-word;

  background-color: #ffffff;

  transition: 0.5s ease-in-out;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


div#title {
    /* background-color:  var(--accent); */
    background-image: linear-gradient(to right, var(--accent), #4f8cb3);
    margin-bottom: auto;
    
}
div#title h1 {
    padding: 20px;
    font-weight: bold;
    font-size: 30px;color:var(--bg);
}
div#title i {
  margin-bottom: 10px;
  font-size: 50px;
}

#main.hide {
  margin-left: 0;
}

#main .calendar {
  margin-left: auto;
  margin-right: auto;
}

nav {
    font-weight: 200;
    background-color: var(--bgbar);
    border-right: 1px solid var(--textbar);
    
    overflow-y: auto;

    scrollbar-color: var(--accentbar) var(--bgbar);
    transform: translateX(0);
    position: fixed;
    left:0;
    top:0;
    width:15vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    /*test anim*/
    transition: 0.5s ease-in-out;
}

nav.hide { /* neat javascript stuff */
  /* width: 0; */
  transform: translateX(-100%);
}

#main.show {
  margin-left: 0;
  width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 100%;
    /* background-color: black; */
  }
  
  nav ul#top {
    height:70%;
    width: 100%;
  }
  nav ul#bottom {
    height:30%;
    width: 100%;
  }

nav li {
  display: block;
  color: var(--textbar);
  padding: 4px 12px;
  text-decoration: none;
  /* border: 1px solid black; */
}

li a {
  display: block;
  text-decoration: none;
  padding: 10px 5px;
  color:var(--textbar);
  border-radius: 15px;

  font-size: 1vw;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Change the link color on hover */
li a:hover {
  background-color: var(--accentbar);

  transition: 0.3s;
  color: var(--accentalt);
}

.active a{ /*for selected tabs */
  background-color: var(--accentbar);
  color: var(--accentalt);
}


hr {
    width:100%;
}
.line {
  width: 80%;
  margin: auto;
  border-top: 0.1px solid var(--textbar);
  border-bottom: 0.1px transparent;
  opacity: 0.9;
}


div#menu i{
  border-radius: 5px;

  font-size: 20px;

  color: black;
  margin: 10px;
  text-align: center;
  align-content: center;
  padding: 5px;

  transition: 0.15s ease-in-out;
}

div#menu i:hover{
  cursor: pointer;
  color: var(--bg);
}


@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
  nav {
    width: 100vw;
    height:fit-content;
    position: relative;

  }
  nav ul{
    width: 100vw;
  }

  nav.hide{
    height: 0;
    width: 100%;
    transform: translateX(0);
    transform: translateY(-100%);
  }
  #main {
    width: 100vw;
    min-height:fit-content;
    overflow:hidden;
    bottom:0;
    margin-left: 0;
    font-size: small;
    /* scrollbar-color: orange; */
  }
}