/* Stylesheet for the G2G Landing Pages */


/* handles top sticky navbar in the landing page */
body {
    display: flex;
    font-family: sans-serif;
}
#main {
  display:grid;
  height: 100vh;
  margin-left: 20vw;
  overflow-y: scroll;
}

#main .calendar {
  margin-left: auto;
  margin-right: auto;
}

nav {
    font-weight: bold;
    background-color: #f1f1f1;
    border: 0.5px solid #737373;
    
    position: fixed;
    left:0;
    top:0;
    width:20vw;
    height:100vh;
    display: flex;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    border:1px solid black;
  }
  
nav li {
  margin-top: 10px;
  display: block;
  color: #737373;
  padding: 8px 12px;
  text-decoration: none;
}

li a {
  display: block;
  color: #737373;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

hr {
    width:100%;
    border: 1px solid black;
}
.line {
  width: 80%;
  margin: auto;
  border: 1px solid #737373;
}

