/* Stylesheet for the G2G Landing Pages */

/* colourscheme */
:root {
  /* text in sidebar */
  --textbar: #8f9c9c;
  /* accent background colour */
  --accentbar: #8f9c9c;
  /* sidebar bg colour */
  --bgbar: #d3d3d3;
  
  
  /* text colour */
  --text: black; 
  /* bg colour */
  --bg: white;

  /* accent colour */
  --accent: #2bacff;
  /* alternative highlight colour */
  --accentalt: white;
}

/* handles left sticky navbar in the landing page */
body {
    display: flex;
    font-family: sans-serif;
    scrollbar-color: red;
}
#main {
  display:block;
  height: 100vh;
  width: 80vw; /* this somehow makes it so that the div stays the same shape, even if you close sidebar*/
  /* border-top: 1px solid black; */
  margin-left: 20vw;
  overflow-x: hidden;
  word-wrap: break-word;
  transition: 1s ease;
}

#main.hide {
  width: 100vw;
  margin-left: 0;
}

#main .calendar {
  margin-left: auto;
  margin-right: auto;
}

nav {
    font-weight: bold;
    background-color: var(--bgbar);
    border-right: 1px solid var(--textbar);
    
    overflow-y: auto;

    scrollbar-color: var(--accentbar) var(--bgbar);

    position: fixed;
    left:0;
    top:0;
    width:20vw;
    height:100vh;
    display: flex;
    /*test anim*/
    transition: 1s ease;

}

nav.hide { /* neat javascript stuff */
  width: 0;
  transform: translateX(-100%);
}

#main.show {
  margin-left: 0;
  width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    
    /* background-color: black; */
  }
  
nav li {
  margin-top: 10px;
  display: block;
  color: var(--textbar);
  padding: 8px 12px;
  text-decoration: none;
}

li a {
  display: block;
  text-decoration: none;
  padding: 10px 5px;
}

/* Change the link color on hover */
li a:hover {
  background-color: var(--accentbar);
  transition: 0.3s;
  color: var(--accentalt);
}

hr {
    width:100%;
}
.line {
  width: 80%;
  margin: auto;
  border-top: 0.2px solid var(--textbar);
}

#menu {
  background-color: var(--bgbar);
  border-radius: 5px;
  width: fit-content;
  
  margin: 10px;
}

#menu:hover{
  cursor: pointer;
}

#menu.img {
  color:#2bacff;
}

@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }
  nav {
    width: 100vw;
    height:fit-content;
    position: relative;

  }
  nav ul{
    width: 100vw;
  }
  
  nav.hide{
    height: 0;
    width: 100%;
    transform: translateX(0);
    transform: translateY(-100%);
  }
  #main {
    width: 100vw;
    min-height:fit-content;
    overflow:hidden;
    bottom:0;
    margin-left: 0;
    font-size: small;
    /* scrollbar-color: orange; */
  }
}