/* Stylesheet for the G2G Landing Pages */

/* colourscheme */
:root {
    /* text colour */
    --text: black; 
    /* grayer text */
    --textalt: #7e929c;

    --textalt2: white;
    /* background colour */
    --bg: white;
    /* accent colour */
    --accent: #2bacff;
    /* alternative highlight */
    --accentalt: white;

    --line: #ced6d6;

    --box: #9dd2ed;
}


/* handles top sticky navbar in the landing page */
nav {
    background-color: var(--bg);
    /* to prevent content from peeking through when scrolling down */

    position: sticky; 
    top: 0px;

    width:100vw;
    /* makes a sticky navbar */

    overflow: hidden;

    border-bottom: 0.5px solid var(--line);

}
nav ul {
    align-items: center; /* Vertically center the items */
    list-style-type: none;
    margin: 0;
    padding-right: 20px;
    overflow: hidden;
    background-color: var(--bg);
}
nav a {
    margin: 10px;
    float: left;
    
    color:var(--text);
    font-weight: 550;
    text-align: center;
    padding: 12px 20px;
}
nav a:hover {
    transition: 0.3s;
    color:var(--accent);
    cursor: pointer;
}
/* handles vertical dropdown bar for small screens */


nav img {
    margin-right: 20px; /* Add some space after the logo */
    width: 30px;
    height: auto;
    display: inline-block; /* Ensure the logo is inline with the text */
    vertical-align: middle; /* Align with the text vertically */
}

/* highlighting important buttons */
nav .important:hover {
    color: var(--accentalt);
}
nav .important {
    /* Creates circular buttons for each thing there */
    background-color: var(--accent);
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid var(--accent); 
    float: right;  /* Push this item to the right */

    color: var(--textalt2)
}
hr {
    width:100vw;
    border: 1px solid var(--text);
}

a { 
    text-decoration: none;
}
body {
    overflow-x: hidden;
    font-family: sans-serif;
}

div {
    display: block;
    overflow: hidden;
}

button:hover {
    /* smooth transition to white as you hover over a button */
    color: var(--accentalt);
    transition: 0.3s;
}
button {
    /* Creates circular buttons for each thing there */
    background-color: var(--accent);
    border-radius: 25px;
    border: 1px solid var(--accent); 
    font-weight: bold;
    font-size: 15px;
    

    margin: 10px;
    padding: 15px 20px;
}

/* for page titles */
h1 {
    /* accentuates the title */
    margin: 15px;
    font-weight: bolder;
    font-size: 50px;            
}

/* for separating text within a div */
.linesmall {
    /* smaller lines for aesthetic separation */
    width: 20vw;
}

.line {
    width: 80%;
    margin: auto;
    border: 0.2px solid var(--line);
  }


/* for content divs */
#wrapper {
    text-align: center;
    display:block;
}


form input {
    margin-top:15px;
    width: 50%;
    text-align: center;
    padding: 12px 20px;
    border: 2px solid var(--accent);
    border-radius: 25px;
    font-size: 15px;
}
form button {
    margin-top: 50px;
    padding: 12px 85px;
}

@media only screen and (max-width: 800px) {
    /* turns topbar into a sidebar */
    nav {
        position: relative;
    }

    ul.topbar {
        position: relative;
        background-color: transparent;
        top: 0;
        right: 0;
        height: fit-content;
        width: 100vw;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* align-items:center; */
        justify-content: flex-start;
        background-color: var(--bg);
    }
    ul.topbar li {
        width:100vw;
        min-height: fit-content;
        border-top: 1px solid var(--accent);
        border-radius: 25px;
        transition: 0.5s;
    }
    ul.topbar a {
        float:left;
    }

    /* change this to class sidebar method as used in the g2g page */
    ul.topbar li:hover {
        background-color: var(--accent);
    }

    a.navitem:hover {
        color: white;
    }

    /* nav:hover {
        background-color: var(--accent);
    } */

}