/* Stylesheet for the G2G Landing Pages */


/* handles top sticky navbar in the landing page */
nav {
    background-color: white;
    /* to prevent content from peeking through when scrolling down */

    position: sticky; 
    top: 0px;

    width:100lvw;
    /* makes a sticky navbar */

    overflow: hidden;
    display:block; 
    /* already displays as block, but just as redundancy and for sake of example */

}
nav ul {

    list-style-type: none;
    margin: 0;
    padding-right: 20px;
    overflow: hidden;
    background-color: white;
}
nav a {
    margin: 10px;
    float:left;
    
    color:black;
    font-weight: bold;
    text-align: center;
    padding: 12px 20px;
}
nav a:hover {
    transition: 0.3s;
    color:#2bacff;
}
nav .line {
    margin-bottom: 0;
}
.sidebar {
    position:relative;
    background-color: transparent;
    top: 0;
    right: 0;
    height: fit-content;
    width: 100vw;
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.important:hover {
    color: white;
}
.important {
    /* Creates circular buttons for each thing there */
    background-color: #2bacff;
    border-radius: 25px;
    border: 1px solid #2bacff; 
    float: right;
}
hr {
    width:100vw;
    border: 1px solid black;
}

a { 
    text-decoration: none;
}
body {
    overflow-x: hidden;
    font-family: sans-serif;
}