<!DOCTYPE html>
<!--acts as the template html for all the landing pages-->
<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>G2G</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/landingstylesheet.css')}}">
    <!-- empty stylesheet, to be added to -->
        {% block css %} 
            <style>
                #main{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .section{
                    text-align: center;
                    max-width: 90%;
                    min-width: 70%;
                    padding-bottom: 20px;
                    border-bottom: 1px solid var(--line)
                }

            </style>
        {% endblock %}
    {% endblock %}
</head>
<body>
    
    <nav>
        {% block topbar %}
        <ul class="topbar">
            <li>
            <a href="/" class="navitem"><img src="{{url_for('static', filename='assets/g2glogoalt.svg')}}"></a>
            </li>
            <li><a href="/about" class="navitem">About</a></li>
            <li><a href="/pricing" class="navitem">Pricing</a></li>   
            <li><a href="/inquire" class="important navitem" >Inquire</a></li>   
            <li><a href="/login" class="important navitem" >Login</a></li>

        </ul>
        {% endblock %}
    </nav>

    <div id="main">
        {% block main %}
            <div class="section">
                <img src="{{url_for('static', filename='assets/g2glogo.jpg')}}" id="logo">
                <h1>Gifted 2 Greatness</h1>
                <div class="flexwrapper">
                    <div class="text">
                        <p>Placeholder text Placeholder text Placeholder text Placeholder textPlaceholder text Placeholder text</p>
                    </div>
                    <div class="img">
                        <img src="{{url_for('static', filename='assets/fumo.svg')}}">
                    </div>
                </div>
            </div>
            <div class="section">
                <h1>Become One with Mathematics</h1>
                <div class="flexwrapper">
                    <div class="text">
                        <p>Placeholder text Placeholder text Placeholder text Placeholder textPlaceholder text Placeholder text</p>
                    </div>
                    <div class="img">
                        <img src="{{url_for('static', filename='assets/fumo.svg')}}">
                    </div>
                </div>
            </div>
            <div class="section">
                <h1>Intertwine yourself with English</h1>
                <div class="flexwrapper">
                    <div class="img">
                        <img src="{{url_for('static', filename='assets/fumo.svg')}}">
                    </div>
                    <div class="text">
                        <p>Placeholder text Placeholder text Placeholder text Placeholder textPlaceholder text Placeholder text</p>
                    </div>
                </div>
            </div>
        {% endblock %}

    </div>

        {% block js %}
            <script src="{{url_for('static', filename='js/landing.js')}}"></script>
            <script>
//                function showSidebar() {
//                    const sidebar = document.querySelector('.sidebar');
//                    const topbar = document.querySelector('.topbar');
  //                  const nav = document.querySelector('nav');
    //    
      ////              sidebar.style.display = 'flex';
          //          topbar.style.display = 'none';
        //
          //          nav.style.position = 'relative';
                    
            //    }
              //  function hideSidebar() {
                //    const sidebar = document.querySelector('.sidebar');
                  //  sidebar.style.display = 'none';
                //}
            </script>
        {% endblock %}


        
{% block footer %}
    <div id="footer">
        Copyright 2025 (c) G2G Tutoring
    </div>
{% endblock %}

</body>
</html>
