<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>G2G</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/landingstylesheet.css')}}">
    <!-- empty stylesheet, to be added to -->


</head>
<body>
    
    <nav>
        <ul class="sidebar">
            <li onclick="hideSidebar()"><a href="/"><img src="{{url_for('static', filename='assets/fumo.svg')}}" width="20px" height="20px"></a></li>
            <li><a>yo</a></li>
            <li><a>bananan</a></li>   
            <li><a href="/inquire" class="important">INQUIRE</a></li>   
            <li><a href="/login" class="important">LOGIN</a></li>
        </ul>
        <ul class="topbar">
            <li>
            <a href="/"><img src="{{url_for('static', filename='assets/fumo.svg')}}" width="20px" height="20px"></a>
            </li>
            <li><a>yo</a></li>
            <li><a>bananan</a></li>   
            <li><a href="/inquire" class="important">INQUIRE</a></li>   
            <li><a href="/login" class="important">LOGIN</a></li>
        </ul>
    </nav>

    <div id="wrapper">
        <div id="banner">
            <img src="{{url_for('static', filename='assets/fumo.svg')}}" width="200px" height="200px" style="margin-left: auto;margin-right: auto;display: block;">
        </div>
        <div id="content">
            <h1>Log In</h1>
            <hr class="line">

            <button>Login with Google</button>
            <hr class="linesmall">

            <form>
                <input type="text" placeholder="Username">
                <br>
                <input type="text" placeholder="Password">
                <br>
                <button>Login</button>
            </form>
            <p style="margin-top:20px;">Having trouble? Send an <a href="/inquire" style="font-weight: 600;">inquiry</a> <br><br> or <a href="/passwordreset" style="font-weight: 600;">reset your password</a></p>
            <hr>
            <button onclick="showSidebar()">hi</button>
            <p>Hello. Fumo. Fumo.</p>
        </div>        
    </div>
    <style>
        /* for graphic divs */
        #banner {
            float:left;            
            width: 55vw;
        }
        /* for content divs */
        #content {
            padding-right: 10px;
            float:right;
            margin-right:5vw;
            margin-left:5vw;
            width: 30vw;
        }
    </style>
    <script>
        function showSidebar() {
            const sidebar = document.querySelector('.sidebar');
            const topbar = document.querySelector('.topbar');
            const nav = document.querySelector('nav')

            sidebar.style.display = 'flex';

            topbar.style.display = 'none';

            nav.style.position = 'relative';
            
        }
        function hideSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.style.display = 'none';
        }
    </script>
</body>
</html>
