{% extends "user_template.html.jinja" %}
<!DOCTYPE html>

<html>
<head>
    {%block head%}
    {{super()}}
    {%endblock%}
</head>
<body>
    
    <nav>
    {%block topbar%} <!--inherits from user_template-->
    {{super()}}
    {%endblock%}
    </nav>

    <div id="main">
        {% block main %}
        <h1 style="padding: 50px;font-weight: bold;font-size: 100px;">Do Good. Do Bad Business.</h1>
        <div id="button"><button onclick="hideSidenav()">hi</button></div>
        <img src="{{url_for('static', filename='assets/fumo.svg')}}" width="200px" height="200px" padding: 50px;>
        <p style="padding-left: 50px;font-weight: bold;">Hello. Fumo. Fumo. Test.</p>
        {% endblock %}
    </div>



</body>
{% block js %}
{{super()}}
{% endblock %}
</html>
