<!DOCTYPE html>

<html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>G2G</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/g2gstylesheet.css')}}">
    <!-- empty stylesheet, to be added to -->
        {% block css %}
        {% endblock %}    
    {% endblock %}
</head>



<body>
    
    <nav>
        {%block topbar%}
        <ul id="topbar">
            <li><a href="/user/home">{{current_user.username}}</a></li>
            <li><a href="/user/home"><img src="{{url_for('static', filename='assets/fumo.svg')}}" width="20px" height="20px"> Home</a></li>
            <li><a href="/user/account"><img src="{{url_for('static', filename='assets/fumo.svg')}}" width="20px" height="20px"> Account</a></li>            
            {% if current_user.is_tutor %}
            <li><a href="/user/tutee"><img src="{{url_for('static', filename='assets/fumo.svg')}}" width="20px" height="20px"> Students</a></li>
            {% endif %}
            <li>User Information</li>
            <li><hr class="line"></li>
            <li><a href="/user/assignments"><img src="{{url_for('static', filename='assets/fumo.svg')}}" width="20px" height="20px"> Assignments</a></li>
            <li><a href="/user/timetable"><img src="{{url_for('static', filename='assets/fumo.svg')}}" width="20px" height="20px"> Timetable</a></li>   
            <li><hr class="line"></li>            
            <li><a href="/user/logout"><img src="{{url_for('static', filename='assets/fumo.svg')}}" width="20px" height="20px"> Logout</a></li>
        </ul> 
        {% endblock %}
    </nav>

        
    <div id="main">
        {% block main%}
        <h1 style="padding: 50px;font-weight: bold;font-size: 100px;">Do Good. Do Bad Business.</h1>
        <img src="{{url_for('static', filename='assets/fumo.svg')}}" width="200px" height="200px" style="padding: 50px;">
        <p style="padding-left: 50px;font-weight: bold;">Hello. Fumo. Fumo. Test.</p>        
       {% endblock %}
    </div>

    {% block js %}
    <script>
        function hideSidenav() {
            const nav = document.querySelector('nav');
            const main = document.getElementById('main');
            // nav.style.display = 'none';

            //do nav style close
            // main class show

            nav.classList.toggle('hide');
            main.classList.toggle('show');
            
        }
    </script>
    {% endblock %}

</body>

</html>
