{% extends "user_template.html.jinja" %}
<!DOCTYPE html>

<html>
<head>
    {%block head%}
    {{super()}}
    {%endblock%}
</head>
<body>
    
    <nav>
    {%block topbar%} <!--inherits from user_template-->
    {{super()}}
    {%endblock%}
    </nav>

    <div id="main">
        {% block main %}
        <h1 style="padding: 50px;font-weight: bold;font-size: 100px;">Do Good. Do Bad Business.</h1>
        <div id="button"><button onclick="hideSidenav()">hi</button></div>
        <img src="{{url_for('static', filename='assets/fumo.svg')}}" width="200px" height="200px" padding: 50px;>
        <p style="padding-left: 50px;font-weight: bold;">Hello. Fumo. Fumo. Test.</p>

        <div id="registerForm">
            <form method="post">
                <label>Username:</label>
                <input type="text" name="username">
                
                <br><label>Password:</label>
                <input type="text" name="password">
                
                <br><label>First Name:</label>
                <input type="text" name="firstname">
                
                <br><label>Last Name:</label>
                <input type="text" name="lastname">
                
                <br><label>Are they a tutor?</label>
                <input type="checkbox" name="is_tutor">
                
                <input type="hidden" name="register">
                <br><input type="submit">
            </form>
        </div>
        {% endblock %}
    </div>



</body>
{% block js %}
{{super()}}
{% endblock %}
</html>
